<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cop-Mapper">

	<sql id="search">
		and (
		cop_name like '%'||#{keyword}||'%'
		or
		cop_subject like
		'%'||#{keyword}||'%'
		or
		cop_owner like '%'||#{keyword}||'%'
		)
	</sql>

	<select id="getCopCode" resultType="cop">
		select
		concat('cop',COP_SEQ.NEXTVAL) as copCode
		from dual
	</select>

	<select id="createCop" parameterType="cop">
		INSERT INTO cop (
		cop_code,
		cop_name,
		cop_regdate,
		cop_type,
		cop_detail,
		cop_subject,
		cop_owner,
		cop_bannerimg,
		cop_profileimg
		) VALUES (
		#{copCode},
		#{copName},
		sysdate,
		#{copType},
		#{copDetail},
		#{copSubject},
		#{copOwner},
		#{copBannerimg},
		#{copProfileimg}
		)
	</select>

	<insert id="setCopOwner" parameterType="cop">
		INSERT INTO copmember (
		emp_id,
		cop_code,
		copm_auth
		) VALUES (
		#{copUserId},
		#{copCode},
		'2'
		)
	</insert>

	<select id="getCopList" resultType="cop">
		SELECT
		cop_code,
		cop_name,
		cop_regdate,
		cop_type,
		cop_detail,
		cop_subject,
		cop_owner,
		cop_bannerimg,
		cop_profileimg
		FROM
		cop
		where not cop_type = '0'
	</select>

	<select id="getJoiningCopList" parameterType="str"
		resultType="cop">
		select B.COP_CODE, B.COP_DETAIL, B.COP_NAME, B.COP_REGDATE,
		B.COP_SUBJECT,
		B.COP_TYPE, B.COP_OWNER
		from copmember a, cop b
		where
		b.cop_code =
		a.cop_code
		and not a.copm_auth = 0
		and a.emp_id = #{empId}
		order by
		b.cop_code desc
	</select>

	<select id="getJoiningCopCnt" resultType="int">
		SELECT
		count(*)
		FROM
		cop
		a, copmember b
		where A.COP_CODE = B.COP_CODE
		and B.EMP_ID = #{empId}
		and
		not B.COPM_AUTH = 0
	</select>

	<select id="getCopHumanCnt" parameterType="cop" resultType="cop">
		select count(cop_code) as copPersonnel
		from copmember
		where cop_code =
		#{copCode}
		and not copm_auth = 0
	</select>

	<select id="getOwnCopList" parameterType="str" resultType="cop">
		select B.COP_CODE, B.COP_DETAIL, B.COP_NAME, B.COP_REGDATE,
		B.COP_SUBJECT, B.COP_TYPE, B.COP_OWNER
		from copmember a, cop b
		where
		b.cop_code = a.cop_code
		and a.copm_auth = 2
		and a.emp_id = #{empId}
		order by b.cop_code desc
	</select>

	<select id="getOwnCopListCnt" resultType="int">
		select count(*)
		from
		copmember a, cop b
		where b.cop_code = a.cop_code
		and a.copm_auth = 2
		and
		a.emp_id = #{empId}
	</select>

	<select id="getCopInfo" parameterType="str" resultType="cop">
		SELECT
		cop_code,
		cop_name,
		cop_regdate,
		cop_type,
		cop_detail,
		cop_subject,
		cop_owner,
		cop_bannerimg,
		cop_profileimg
		FROM
		cop
		where cop_code =
		#{copCode}
	</select>

	<select id="doubleCheck" parameterType="str" resultType="int">
		select
		count(cop_name)
		from cop
		where cop_name = #{copName}
	</select>

	<select id="getLargestCopDescList" resultType="cop">
		SELECT
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg,
		count(b.emp_id) as
		copPersonnel
		FROM
		cop a, copmember b
		where
		a.cop_code = b.cop_code
		and
		not
		b.copm_auth = 0
		group by
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg
		order by
		copPersonnel desc
	</select>

	<select id="getLargestCopFdDescList" resultType="cFdVO">
		SELECT
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg,
		count(B.FDIS_CODE) as fdisCode
		FROM
		cop a, FAMILYDISCUSSION b
		where
		a.cop_code = b.cop_code
		group by
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg
		order by
		fdisCode desc
	</select>

	<insert id="copSignUpRequest" parameterType="cop">
		INSERT INTO
		copmember (
		emp_id,
		cop_code,
		copm_auth
		) VALUES (
		#{copUserId},
		#{copCode},
		'0'
		)
	</insert>

	<select id="getArchiveList" parameterType="str"
		resultType="cArcVO">
		SELECT
		ca_code,
		cop_code,
		emp_id,
		ca_title,
		ca_content,
		ca_regdate,
		ca_enabled,
		ca_viewcnt,
		emp_name
		FROM
		coparchive
		where
		cop_code =
		#{str}
	</select>

	<select id="getDiscussionList" parameterType="str"
		resultType="cFdVO">
		SELECT
		fdis_code,
		cop_code,
		fdis_maker,
		fdis_name,
		fdis_regdate
		FROM
		familydiscussion
		where
		cop_code = #{str}
	</select>

	<select id="getMyCopDiscussionList" resultType="cFdVO">
		select
		a.fdis_code, a.fdis_name, c.cop_name, a.fdis_maker
		from
		FAMILYDISCUSSION a, FAMILYDISCUSSIONMEMBER b, cop c
		where a.fdis_code =
		b.fdis_code
		and a.COP_CODE = c.COP_CODE
		and b.emp_id = #{empId}
	</select>

	<select id="getMyArchiveListToCri" resultType="cArcVO">
		select a.ca_code,
		a.ca_title, b.cop_name
		from COPARCHIVE a, cop b
		where a.cop_code =
		b.cop_code
		and a.emp_id = #{empId}
	</select>
	
	<select id="getArchiveDetail" parameterType="str" resultType="cArcVO">
		SELECT
		    ca_code,
		    cop_code,
		    emp_id,
		    ca_title,
		    ca_content,
		    ca_regdate,
		    ca_enabled,
		    ca_viewcnt,
		    emp_name
		FROM
		    coparchive
		where
		    ca_code = #{str}
	</select>
	
	<select id="getArchiveAttach" parameterType="str" resultType="caAttach">
		SELECT
		    ca_at_no,
		    ca_code,
		    ca_at_path,
		    ca_at_name,
		    ca_at_type
		FROM
		    coparchiveattach
		where
		    ca_code = #{str}
	</select>
	
	<delete id="deleteArchive">
		delete from coparchive
		where ca_code = #{str}
	</delete>
</mapper>
















