<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cop-Mapper">

	<sql id="search">
		and (
		cop_name like '%'||#{keyword}||'%'
		or
		cop_subject like
		'%'||#{keyword}||'%'
		or
		cop_owner like '%'||#{keyword}||'%'
		)
	</sql>

	<select id="getCopCode" resultType="cop">
		select
		concat('cop',COP_SEQ.NEXTVAL) as copCode
		from dual
	</select>

	<select id="createCop" parameterType="cop">
		INSERT INTO cop (
		cop_code,
		cop_name,
		cop_regdate,
		cop_type,
		cop_detail,
		cop_subject,
		cop_owner,
		cop_bannerimg,
		cop_profileimg,
		cop_owner_id
		) VALUES (
		#{copCode},
		#{copName},
		to_char(sysdate,'yyyy-MM-dd'),
		#{copType},
		#{copDetail},
		#{copSubject},
		#{copOwner},
		#{copBannerimg},
		#{copProfileimg},
		#{copUserId}
		)
	</select>

	<insert id="setCopOwner" parameterType="cop">
		INSERT INTO copmember (
		emp_id,
		cop_code,
		copm_auth
		) VALUES (
		#{copUserId},
		#{copCode},
		'2'
		)
	</insert>

	<select id="getCopList" resultType="cop">
		SELECT
		cop_code,
		cop_name,
		cop_regdate,
		cop_type,
		cop_detail,
		cop_subject,
		cop_owner,
		cop_bannerimg,
		cop_profileimg
		FROM
		cop
		where not cop_type = '0'
	</select>

	<select id="getJoiningCopList" parameterType="str"
		resultType="cop">
		select B.COP_CODE, B.COP_DETAIL, B.COP_NAME, B.COP_REGDATE,
		B.COP_SUBJECT,
		B.COP_TYPE, B.COP_OWNER
		from copmember a, cop b
		where
		b.cop_code =
		a.cop_code
		and not a.copm_auth = 0
		and a.emp_id = #{empId}
		order by
		b.cop_code desc
	</select>

	<select id="getJoiningCopCnt" resultType="int">
		SELECT
		count(*)
		FROM
		cop
		a, copmember b
		where A.COP_CODE = B.COP_CODE
		and B.EMP_ID = #{empId}
		and
		not B.COPM_AUTH = 0
	</select>

	<select id="getCopHumanCnt" parameterType="cop" resultType="cop">
		select count(cop_code) as copPersonnel
		from copmember
		where cop_code =
		#{copCode}
		and not copm_auth = 0
	</select>

	<select id="getOwnCopList" parameterType="str" resultType="cop">
		select B.COP_CODE, B.COP_DETAIL, B.COP_NAME, B.COP_REGDATE,
		B.COP_SUBJECT, B.COP_TYPE, B.COP_OWNER
		from copmember a, cop b
		where
		b.cop_code = a.cop_code
		and a.copm_auth = 2
		and a.emp_id = #{empId}
		order by b.cop_code desc
	</select>

	<select id="getOwnCopListCnt" resultType="int">
		select count(*)
		from
		copmember a, cop b
		where b.cop_code = a.cop_code
		and a.copm_auth = 2
		and
		a.emp_id = #{empId}
	</select>

	<select id="getCopInfo" parameterType="str" resultType="cop">
		SELECT
		cop_code,
		cop_name,
		cop_regdate,
		cop_type,
		cop_detail,
		cop_subject,
		cop_owner,
		cop_bannerimg,
		cop_profileimg,
		cop_owner_id
		FROM
		cop
		where cop_code =
		#{copCode}
	</select>

	<select id="doubleCheck" parameterType="str" resultType="int">
		select
		count(cop_name)
		from cop
		where cop_name = #{copName}
	</select>

	<select id="getLargestCopDescList" resultType="cop">
		SELECT
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg,
		count(b.emp_id) as
		copPersonnel
		FROM
		cop a, copmember b
		where
		a.cop_code = b.cop_code
		and
		not
		b.copm_auth = 0
		group by
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg
		order by
		copPersonnel desc
	</select>

	<select id="getLargestCopFdDescList" resultType="cFdVO">
		SELECT
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg,
		count(B.FDIS_CODE) as fdisCode
		FROM
		cop a, FAMILYDISCUSSION b
		where
		a.cop_code = b.cop_code
		group by
		a.cop_code,
		a.cop_name,
		a.cop_regdate,
		a.cop_type,
		a.cop_detail,
		a.cop_subject,
		a.cop_owner,
		a.cop_bannerimg,
		a.cop_profileimg
		order by
		fdisCode desc
	</select>

	<insert id="copSignUpRequest" parameterType="cop">
		INSERT INTO
		copmember (
		emp_id,
		cop_code,
		copm_auth
		) VALUES (
		#{copUserId},
		#{copCode},
		'0'
		)
	</insert>

	<select id="getArchiveList" parameterType="str"
		resultType="cArcVO">
SELECT
		ca_code,
		cop_code,
		emp_id,
		ca_title,
		ca_content,
		ca_regdate,
		ca_enabled,
		ca_viewcnt,
		emp_name
		FROM
		coparchive
		where
			cop_code =
			#{str}
		and CA_ENABLED = '1'
</select>

	<select id="getDiscussionList" parameterType="str"
		resultType="cFdVO">
		SELECT
		fdis_code,
		cop_code,
		fdis_maker,
		fdis_name,
		fdis_regdate
		FROM
		familydiscussion
		where
		cop_code = #{str}
	</select>

	<select id="getMyCopDiscussionList" resultType="cFdVO">
		select
		a.fdis_code, a.fdis_name, c.cop_name, a.fdis_maker
		from
		FAMILYDISCUSSION a, FAMILYDISCUSSIONMEMBER b, cop c
		where a.fdis_code =
		b.fdis_code
		and a.COP_CODE = c.COP_CODE
		and b.emp_id = #{empId}
	</select>

	<select id="getMyArchiveListToCri" resultType="cArcVO">
		select 
			a.cop_code,
			a.ca_code,
			a.ca_title,
			a.ca_viewcnt,
			b.cop_name
		from 
			COPARCHIVE a, cop b
		where 
			a.cop_code = b.cop_code
		and 
			a.emp_id = #{empId}
	</select>
	
	<select id="getArchiveDetail" parameterType="str" resultType="cArcVO">
		SELECT
		    ca_code,
		    cop_code,
		    emp_id,
		    ca_title,
		    ca_content,
		    ca_regdate,
		    ca_enabled,
		    ca_viewcnt,
		    emp_name
		FROM
		    coparchive
		where
		    ca_code = #{str}
	</select>
	
	<select id="getArchiveAttach" parameterType="str" resultType="caAttach">
		SELECT
		    ca_at_no,
		    ca_code,
		    ca_at_path,
		    ca_at_name,
		    ca_at_type
		FROM
		    coparchiveattach
		where
		    ca_code = #{str}
	</select>
	
	<delete id="deleteArchive">
update coparchive
set ca_enabled = '0'
where ca_code = #{str}
</delete>
	
	<update id="increaseArchiveViewCnt">
		update coparchive
		set ca_viewcnt = ca_viewcnt +1
		where ca_code = #{str}
	</update>

	<select id="getMyProjectList" resultType="pro">
		SELECT
		    a.p_code, 
		    a.p_name,
		    a.p_startdate,
		    a.p_enddate,
		    (
		        SELECT
		            d.emp_id
		        FROM
		            employee d
		        WHERE
		            d.emp_id = (
		                SELECT
		                    c.emp_id
		                FROM
		                    pjmember c
		                WHERE
		                    c.pm_authority = 'PL'
		                    AND   c.p_code = a.p_code
		            )
		    ) AS emp_id,
		    (
		        SELECT
		            d.emp_name
		        FROM
		            employee d
		        WHERE
		            d.emp_id = (
		                SELECT
		                    c.emp_id
		                FROM
		                    pjmember c
		                WHERE
		                    c.pm_authority = 'PL'
		                    AND   c.p_code = a.p_code
		            )
		    ) AS emp_name
		    FROM
			    project a,
			    pjmember b
			WHERE
			    a.p_code = b.p_code
			    AND   emp_id = #{empId}
	</select>
	
	<select id="getCopFamilyList" resultType="emp">
		SELECT
		    b.emp_name,
		    b.emp_id,
		    b.emp_email
		FROM 
		    copmember a, employee b
		where 
		    a.emp_id = b.emp_id
	    and 
    		not a.COPM_AUTH = '0'
		and 
		    cop_code = #{copCode}
	</select>
	
	<insert id="insertProjectObserveMember" parameterType="shareVO">
		insert into pjmember(emp_id, p_code, pm_authority)
		values (#{family}, #{projectNo}, 'OB')
	</insert>
	
	<insert id="projectShareSendMail" parameterType="shareVO">
		insert into RECEIVEMAIL(
		    rm_code,
		    emp_id,
		    rm_title,
		    rm_content,
		    rm_sender,
		    rm_rstatus,
		    rm_senddate,
		    rm_receivedate,
		    rm_enabled)
		values (    
		    concat('rma', RECEIVEMAIL_SEQ.NEXTVAL),
		    #{family},
		    '프로젝트 공유 알림 메일입니다',
		    concat(#{projectName}, '프로젝트 공유를 받았습니다. 지금부터 옵저브 멤버로 활동 할 수 있습니다.'),
		    'SYSTEM',
		    '1',
		    to_char(sysdate,'yyyy-mm-dd hh24:mi'),
			to_char(sysdate,'yyyy-mm-dd hh24:mi'),
		    '1')
	</insert>
	
	<insert id="shareProjectRequest" parameterType="shareVO">
		insert into RECEIVEMAIL(
		    rm_code,
		    emp_id,
		    rm_title,
		    rm_content,
		    rm_sender,
		    rm_rstatus,
		    rm_senddate,
		    rm_receivedate,
		    rm_enabled)
		values (    
		    concat('rma', RECEIVEMAIL_SEQ.NEXTVAL),
		    #{projectPLID},
		    '프로젝트 공유 승인 요청 메일입니다',
		    #{content},
		    'SYSTEM',
		    '1',
		   	to_char(sysdate,'yyyy-mm-dd hh24:mi'),
		   	to_char(sysdate,'yyyy-mm-dd hh24:mi'),
		    '1')
	</insert>
	
	<select id="getProjectPlEmpID" resultType="str">
		SELECT
		    emp_id
		FROM
		    employee
		where
		    emp_name = #{projectPL}
	</select>
	
	<select id="getSignUpRequestMember" resultType="emp">
		SELECT
		    b.emp_name,
		    b.emp_id,
		    b.emp_email
		FROM
		    copmember a, employee b
		where a.emp_id = b.emp_id
		and a.copm_auth = '0'
		and cop_code = #{copCode}
	</select>
	
	<update id="approveCopSignUpRequest" parameterType="copMemberVO">
		update copmember
		set COPM_AUTH = '1'
		where emp_id = #{empId}
		and COP_CODE = #{copCode}
	</update>
	
	<delete id="rejectCopSignUpRequest" parameterType="copMemberVO">
		delete from COPMEMBER
		where COP_CODE = #{copCode}  
		and EMP_ID = #{empId}
	</delete>
	
	<insert id="sendMail" parameterType="copMemberVO">
		insert into RECEIVEMAIL 
		(RM_CODE,EMP_ID,RM_TITLE,RM_CONTENT ,RM_SENDER,RM_RSTATUS,RM_SENDDATE,RM_RECEIVEDATE,RM_ENABLED)
		values(concat('rma',RECEIVEMAIL_SEQ.NEXTVAL),#{empId},#{title},#{content},'SYSTEM',0,to_char(sysdate,'yyyy-mm-dd hh24:mi'),to_char(sysdate,'yyyy-mm-dd hh24:mi'),'1')
	</insert>
	
	<update id="modifyCopInfo" parameterType="cop">
		update 
			cop
		set    
		    cop_type = #{copType},
		    cop_detail = #{copDetail},
		    cop_subject = #{copSubject},
		    cop_bannerimg = #{copBannerimg},
		    cop_profileimg = #{copProfileimg}
		where cop_code = #{copCode}
	</update>
	
	<insert id="createFdis" parameterType="cFdVO">
		insert into FAMILYDISCUSSION(fdis_code,
		    cop_code,
		    fdis_maker,
		    fdis_name,
		    fdis_regdate,
		    fdis_subject)
	    values (concat('CFD',FAMILYDISCUSSION_SEQ.NEXTVAL), #{copCode}, #{fdisMaker}, #{fdisName}, to_char(sysdate,'yyyy-MM-dd'), #{fdisSubject})
	</insert>
	
	<select id="getCopFdisList" resultType="cFdVO">
		SELECT
		    fdis_code,
		    cop_code,
		    fdis_maker,
		    fdis_name,
		    fdis_regdate,
		    fdis_subject
		FROM
		    familydiscussion
		where
		    cop_code = #{copCode}
	</select>
	
	<select id="getIcreatedFdisList" parameterType="cFdVO" resultType="cFdVO">
		SELECT
		    fdis_code,
		    cop_code,
		    fdis_maker,
		    fdis_name,
		    fdis_regdate,
		    fdis_subject
		FROM
		    familydiscussion
		where
		    cop_code = #{copCode}
		and 
			fdis_maker = #{fdisMaker}
	</select>
	
	<select id="getFdisContent" resultType="cFdContentVO">
		SELECT
		    fdis_ct_code,
		    fdis_code,
		    fdis_ct_writer,
		    fdis_ct_content,
		    fdis_ct_regdate,
			FDIS_CT_WRITER_NAME		    
		FROM
		    familydiscussioncontent
		where 
		    fdis_code = #{fdisCode}
        order by 
        	FDIS_CT_REGDATE desc
   	</select>
   	
   	<insert id="registDiscussionContent" parameterType="cFdContentVO">
   		insert into familydiscussioncontent(
		    fdis_ct_code,
		    fdis_code,
		    fdis_ct_writer,
		    fdis_ct_content,
		    fdis_ct_regdate,
		    fdis_ct_writer_name)
		values (FAMILYDISCUSSIONCONTENT_SEQ.NEXTVAL, #{fdisCode}, #{fdisCtWriter}, #{fdisCtContent}, to_char(sysdate,'yyyy-mm-dd hh24:mi'), #{fdisCtWriterName})
   	</insert>
   	
   	<select id="getFdisInfoByFdisCode" resultType="cFdVO">
   		SELECT
		    fdis_code,
		    cop_code,
		    fdis_maker,
		    fdis_name,
		    fdis_regdate,
		    fdis_subject
		FROM
		    familydiscussion
		where fdis_code = #{fdisCode}
   	</select>
   	
   	<update id="modifyFdisInfo" parameterType="cFdVO">
   		update 
   			FAMILYDISCUSSION
		set 
			FDIS_NAME = #{fdisName},
		    FDIS_SUBJECT = #{fdisSubject}
		where 
			fdis_code = #{fdisCode}
   	</update>
   	
   	<select id="getEmpIDByFdisCode" resultType="emp">
		select b.emp_id
		from FAMILYDISCUSSION a, employee b
		where A.FDIS_MAKER = B.EMP_NAME
		and A.FDIS_CODE = #{fdisCode}
   	</select>
   	
   	<delete id="deleteDiscussionContent">
	   	delete from FAMILYDISCUSSIONCONTENT
		where fdis_code = #{fdisCode}
   	</delete>
   	
   	<delete id="deleteDiscussion">
   		delete from familydiscussion
		where fdis_code = #{fdisCode}
   	</delete>
   	
   	<insert id="joinCopToInvite" parameterType="cop">
   		insert into copmember(
		    emp_id,
		    cop_code,
		    copm_auth)
		values (#{copUserId},#{copCode}, '1')
   	</insert>
   	
   	<!-- COP 삭제  -->
   	<delete id="deleteArchiveAttachOnDB">
   		delete from COPARCHIVEATTACH
		where ca_code = #{caCode}
   	</delete>
   	
   	<delete id="deleteCopArchive">
   		delete from COPARCHIVE
		where cop_code = #{copCode}
   	</delete>
   	
   	<delete id="deleteCopMember">
   		delete from COPMEMBER
		where cop_code = #{copCode}
   	</delete>
   	
   	<delete id="deleteCop">
   		delete from cop
		where cop_code = #{copCode}
   	</delete>
   	
   	<select id="getIcreatedFdisListOnMyCop" resultType="cFdVO">
		SELECT
		    a.fdis_code,
		    a.cop_code,
		    a.fdis_maker,
		    a.fdis_name,
		    a.fdis_regdate,
		    a.fdis_subject,
		    b.cop_name
		FROM
		    familydiscussion a, cop b
		where 
			a.cop_code = b.cop_code
		and 
			a.fdis_maker = #{fdisMaker}
   	</select>
   	
   	<select id="getApproveRequestCnt" resultType="int">
   		select count(emp_id) 
		from copmember
		where copm_auth = 0
		and COP_CODE = #{copCode}
   	</select>
</mapper>
















