<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="Notice-Mapper">
	<select id="selectNoticeList" resultType="notice">
		select *
		from notice
	</select>
	
	<select id="selectNoticeByNno" resultType="notice">
		select *
		from notice
		where notice_no = #{noticeNo}
	</select>
	
	<update id="insertNotice">
		insert into notice
		(
		NOTICE_NO
		,NOTICE_TITLE
		,NOTICE_CONTENT
		,NOTICE_REGDATE
		,NOTICE_VIEWCNT
		)
		values(
		concat('ntc',NOTICE_SEQ.NEXTVAL)
		,#{noticeTitle}
		,#{noticeContent}
		,to_char(sysdate,'yyyy-MM-dd')
		,0
		)
	</update>
	
	<update id="updateNotice">
		UPDATE notice
	    SET
	        notice_title=#{noticeTitle}
	        , notice_content=#{noticeContent}
		WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="deleteNotice">
		delete from notice
		where notice_no = #{noticeNo}
	</update>
	
	
	<update id="increaseNoticeCnt" >
		update 
		notice 
		set 
		NOTICE_VIEWCNT=NOTICE_VIEWCNT+1 
		where  notice_no = #{noticeNo}
	</update>
	<update id="decreaseNoticeCnt" >
		update 
		notice 
		set 
		NOTICE_VIEWCNT=NOTICE_VIEWCNT-1 
		where  notice_no = #{noticeNo}
	</update>

	
	
	
	
</mapper>
