<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Totalknowledge-Mapper">

	<select id="getAllList" resultType="tk">
		SELECT
			A.TK_CODE as tkCode,
			A.EMP_ID as empId,
			A.TK_TITLE as tkTitle,
			A.TK_REGDATE as tkRegdate,
			A.TK_VIEWCNT as tkViewCnt,
			A.TK_LIKECNT as tkLikeCnt,
			A.TK_KEYWORD as tkKeyword,
			A.TK_ENABLED as tkEnabled,
			A.TK_REPORTCNT as tkReportCnt,
			A.TK_CONTENT as tkContent,
			(SELECT C.EMP_NAME FROM EMPLOYEE C WHERE A.EMP_ID = C.EMP_ID)as empName
		FROM TOTALKNOWLEDGEBOARD A
		WHERE A.TK_ENABLED = 1
		ORDER BY A.TK_CODE DESC
	</select>
	<select id="getAllListCount" resultType="tk">
		select
		COUNT(*) cnt
		from
		totalknowledgeboard
		where tk_enabled = 1
	</select>

	<sql id="search">
		<if test="searchType == 'w'.toString()">
			and A.emp_id like '%'||#{keyword}||'%'			
		</if>
	</sql>	

	
	<select id="selectSearchTkList" resultType="tk">
		SELECT
		A.TK_CODE as tkCode,
			A.EMP_ID as empId,
			A.TK_TITLE as tkTitle,
			A.TK_REGDATE as tkRegdate,
			A.TK_VIEWCNT as tkViewCnt,
			A.TK_LIKECNT as tkLikeCnt,
			A.TK_KEYWORD as tkKeyword,
			A.TK_ENABLED as tkEnabled,
			A.TK_REPORTCNT as tkReportCnt,
			A.TK_CONTENT as tkContent,
			(SELECT C.EMP_NAME FROM EMPLOYEE C WHERE A.EMP_ID = C.EMP_ID)as empName
		FROM TOTALKNOWLEDGEBOARD A
		WHERE A.TK_ENABLED = 1
		ORDER BY A.TK_CODE DESC
	</select>
	
	<select id="selectSearchTkListArr" parameterType="str" resultType="tk">
		SELECT
		A.TK_CODE as tkCode,
		A.EMP_ID as empId,
		A.TK_TITLE as tkTitle,
		A.TK_REGDATE as tkRegdate,
		A.TK_VIEWCNT as tkViewCnt,
		A.TK_LIKECNT as tkLikeCnt,
		A.TK_KEYWORD as tkKeyword,
		A.TK_ENABLED as tkEnabled,
		A.TK_REPORTCNT as tkReportCnt,
		A.TK_CONTENT as tkContent,
		(SELECT C.EMP_NAME FROM EMPLOYEE C WHERE A.EMP_ID = C.EMP_ID)as empName
		FROM TOTALKNOWLEDGEBOARD A
		WHERE A.tk_enabled = 1
and(
		<if test="lists =! null">     
			<foreach collection="array" item="item" index="index" separator="or">
			 	A.tk_title LIKE '%'|| #{item,jdbcType=VARCHAR}|| '%'
 
			 </foreach>
			 or
			<foreach collection="array" item="item" index="index" separator="or">
			 	A.tk_content LIKE '%'|| #{item,jdbcType=VARCHAR}|| '%'

			 </foreach>
			 or
			<foreach collection="array" item="item" index="index" separator="or">
			 	A.TK_KEYWORD LIKE '%'|| #{item,jdbcType=VARCHAR}|| '%'

			 </foreach>
		 </if>)
		order by A.tk_code desc
	</select>
	<select id="selectSearchTkListArr2" parameterType="str" resultType="tk">
		SELECT
		A.TK_CODE as tkCode,
		A.EMP_ID as empId,
		A.TK_TITLE as tkTitle,
		A.TK_REGDATE as tkRegdate,
		A.TK_VIEWCNT as tkViewCnt,
		A.TK_LIKECNT as tkLikeCnt,
		A.TK_KEYWORD as tkKeyword,
		A.TK_ENABLED as tkEnabled,
		A.TK_REPORTCNT as tkReportCnt,
		A.TK_CONTENT as tkContent
		FROM TOTALKNOWLEDGEBOARD A
		WHERE A.tk_enabled = 1
and(
		<if test="lists =! null">     
			<foreach collection="array" item="item" index="index" separator="or">
			 	A.tk_title LIKE '%'|| #{item,jdbcType=VARCHAR}|| '%'
 
			 </foreach>
			 or
			<foreach collection="array" item="item" index="index" separator="or">
			 	A.tk_content LIKE '%'|| #{item,jdbcType=VARCHAR}|| '%'

			 </foreach>
			 or
			<foreach collection="array" item="item" index="index" separator="or">
			 	A.TK_KEYWORD LIKE '%'|| #{item,jdbcType=VARCHAR}|| '%'

			 </foreach>
		 </if>)
		order by A.tk_code desc
	</select>
	
	<select id="selectSearchTkListViewOrder" resultType="tk">
		SELECT
		A.TK_CODE as tkCode,
		A.EMP_ID as empId,
		A.TK_TITLE as tkTitle,
		A.TK_REGDATE as tkRegdate,
		A.TK_VIEWCNT as tkViewCnt,
		A.TK_LIKECNT as tkLikeCnt,
		A.TK_KEYWORD as tkKeyword,
		A.TK_ENABLED as tkEnabled,
		A.TK_REPORTCNT as tkReportCnt,
		A.TK_CONTENT as tkContent,
		(SELECT C.EMP_NAME FROM EMPLOYEE C WHERE A.EMP_ID = C.EMP_ID)as empName
		FROM TOTALKNOWLEDGEBOARD A
		where A.TK_CODE is not null
		and A.TK_ENABLED = 1  			  	
		<include refid="search" />
		and A.TK_REGDATE between sysdate - 7 and sysdate
		order by A.TK_VIEWCNT desc
	</select>
	
	<select id="selectSearchTkListCount" resultType="int">
		select
		count(*)
		from
		totalknowledgeboard
		where tk_code is not null
		<include refid="search" />
		order by tk_code desc
	</select>
	
	<select id="selectTkByTkCode"  parameterType="str" resultType="tk">
		SELECT
		A.TK_CODE as tkCode,
		A.EMP_ID as empId,
		A.TK_TITLE as tkTitle,
		A.TK_REGDATE as tkRegdate,
		A.TK_VIEWCNT as tkViewCnt,
		A.TK_LIKECNT as tkLikeCnt,
		A.TK_KEYWORD as tkKeyword,
		A.TK_ENABLED as tkEnabled,
		A.TK_REPORTCNT as tkReportCnt,
		A.TK_CONTENT as tkContent,
		(SELECT C.EMP_NAME FROM EMPLOYEE C WHERE A.EMP_ID = C.EMP_ID)as empName
		FROM TOTALKNOWLEDGEBOARD A
		where A.tk_code=#{tkCode}
	</select>
	
	<update id="insertTk" parameterType="tk">
		insert 
		into 
		totalknowledgeboard(tk_code, emp_id, tk_title, tk_regdate, tk_keyword, tk_content)
		values
		(#{tkCode},#{empId},#{tkTitle},to_char(sysdate,'yyyy-MM-dd'), #{tkKeyword}, #{tkContent})
	</update>
	
	<update id="updateTk" parameterType="tk">
		update 
		totalknowledgeboard
		set 
		tk_title=#{tkTitle}, tk_keyword=#{tkKeyword}, tk_content=#{tkContent}
		where tk_code=#{tkCode}
	</update>
	
	<update id="deleteTk" parameterType="str">
		delete 
		from totalknowledgeboard 
		where tk_code=#{tkCode}
	</update>
	
	<update id="disableTk" parameterType="str">
		update 
		totalknowledgeboard
		set 
		TK_ENABLED=0
		where tk_code=#{tkCode}
	</update>
	
	<update id="increaseViewCnt" parameterType="str">
		update 
		totalknowledgeboard 
		set 
		tk_viewcnt=tk_viewcnt+1 
		where tk_code=#{tkCode}
	</update>
	
	<update id="increaseLikeCnt" parameterType="str">
		update 
		totalknowledgeboard 
		set 
		tk_likecnt=tk_likecnt+1 
		where tk_code=#{tkCode}
	</update>
	<update id="decreaseLikeCnt" parameterType="str">
		update 
		totalknowledgeboard 
		set 
		tk_likecnt=tk_likecnt-1 
		where tk_code=#{tkCode}
	</update>
	
	<update id="increaseReportCnt" parameterType="str">
		update 
		totalknowledgeboard 
		set 
		tk_reportcnt=tk_reportcnt+1 
		where tk_code=#{tkCode}
	</update>
	
	<update id="decreaseReportCnt" parameterType="str">
		update 
		totalknowledgeboard 
		set 
		tk_reportcnt=tk_reportcnt-1 
		where tk_code=#{tkCode}
	</update>
	
	<select id="selectTkSeqNext" resultType="str">
		select totalknowledgeboard_SEQ.NEXTVAL as tk_code from dual
	</select>
	
	<select id="selectTkByFileName"  resultType="tk">
		select * 
		from totalknowledgeboard 
		where content like '%'||#{fileName}||'%'		
	</select>
	
</mapper>
















