<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="Trash-Mapper">

	<sql id="trCode">
		<if test="trTable == 'RECEIVEMAIL'.toString()">RM_CODE</if>
		<if test="trTable == 'SENDMAIL'.toString()">SM_CODE</if>
		<if test="trTable == 'TOTALKNOWLEDGEBOARD'.toString()">TK_CODE</if>
		<if test="trTable == 'COPARCHIVE'.toString()">CA_CODE</if>
		<if test="trTable == 'KNOWHOWBOARD'.toString()">KH_CODE</if>
		<if test="trTable == 'PROJECTARCHIEVE'.toString()">PA_CODE</if>
		<if test="trTable == 'PROJECTREPORTBOARD'.toString()">PR_CODE</if>
	</sql>

	<sql id="trTitle">
		<if test="trTable == 'RECEIVEMAIL'.toString()">RM_TITLE</if>
		<if test="trTable == 'SENDMAIL'.toString()">SM_TITLE</if>
		<if test="trTable == 'TOTALKNOWLEDGEBOARD'.toString()">TK_TITLE</if>
		<if test="trTable == 'COPARCHIVE'.toString()">CA_TITLE</if>
		<if test="trTable == 'KNOWHOWBOARD'.toString()">KH_TITLE</if>
		<if test="trTable == 'PROJECTARCHIEVE'.toString()">PA_TITLE</if>
		<if test="trTable == 'PROJECTREPORTBOARD'.toString()">PR_TITLE</if>
	</sql>

	<sql id="trEnabled">
		<if test="trTable == 'RECEIVEMAIL'.toString()">RM_ENABLED</if>
		<if test="trTable == 'SENDMAIL'.toString()">SM_ENABLED</if>
		<if test="trTable == 'TOTALKNOWLEDGEBOARD'.toString()">TK_ENABLED</if>
		<if test="trTable == 'COPARCHIVE'.toString()">CA_ENABLED</if>
		<if test="trTable == 'KNOWHOWBOARD'.toString()">KH_ENABLED</if>
		<if test="trTable == 'PROJECTARCHIEVE'.toString()">PA_ENABLED</if>
		<if test="trTable == 'PROJECTREPORTBOARD'.toString()">PR_ENABLED</if>
	</sql>

	<sql id="trTable">
		<if test="trTable == 'RECEIVEMAIL'.toString()">RECEIVEMAIL</if>
		<if test="trTable == 'SENDMAIL'.toString()">SENDMAIL</if>
		<if test="trTable == 'TOTALKNOWLEDGEBOARD'.toString()">TOTALKNOWLEDGEBOARD</if>
		<if test="trTable == 'COPARCHIVE'.toString()">COPARCHIVE</if>
		<if test="trTable == 'KNOWHOWBOARD'.toString()">KNOWHOWBOARD</if>
		<if test="trTable == 'PROJECTARCHIEVE'.toString()">PROJECTARCHIEVE</if>
		<if test="trTable == 'PROJECTREPORTBOARD'.toString()">PROJECTREPORTBOARD</if>
	</sql>

	<!-- 사용자 게시판 중 ENABLED 컬럼이 있는 테이블 조회 -->
	<select id="selectTrashTable" resultType="str">
		 SELECT TABLE_NAME as tr_Table
		 FROM USER_TAB_COLUMNS
		 WHERE COLUMN_NAME LIKE '%ENABLED%'
		 and NOT table_name IN('EMPLOYEE','JOBLIST','PROJECT')
	</select>

	<!-- 테이블 형식 별 개수 조회 -->
	<select id="selectTrashCntByTrType" parameterType="trash" resultType="int">
		select count(*)
		from <include refid="trTable" />
		where emp_Id=#{empId}
		and <include refid="trEnabled" />= 0
	</select>



	<!-- 테이블 형식 별 리스트 조회 -->
	<select id="selectTrashListFromTrTable" parameterType="trash" resultType="trash">
		select emp_id, <include refid="trCode" /> as code, <include refid="trTitle" /> as tr_title
		from <include refid="trTable" />
		where emp_id = #{empId}
		and <include refid="trEnabled" />= 0
	</select>
	


	<!-- 게시글 비활성화(임시삭제) -->
	<update id="insertTrash" parameterType="trash">
		update <include refid="trTable" /> 
		set <include refid="trEnabled" /> = 0
		where <include refid="trCode" /> = #{code}
	</update>


	<!-- 게시글 복원 -->
	<update id="restoreTrash" parameterType="trash">
		update <include refid="trTable" /> 
		set <include refid="trEnabled" /> = 1
		where <include refid="trCode" />= #{code}
	</update>


	<!-- 게시글 삭제 -->
	<update id="deleteTrash" parameterType="trash">
		delete from <include refid="trTable" />
		where <include refid="trCode" /> = #{code}
	</update>

</mapper>
















